#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

&adc {
    status = "disabled";
}; // Trying to bring back pin 29

/ {
    chosen {
		zmk,physical-layout = &physical_layout0;
		zmk,kscan = &kscan0;
	};

    vsys {
        status = "disabled";
    }; // Trying to bring back pin 29

    default_transform: keymap_transform0 { 
        compatible = "zmk,matrix-transform";
        columns = <8>; // Length of the "col-gpios" array
        rows = <3>; // Length of the "row-gpios" array
        map = <
            RC(0,0) RC(0,1)                                 RC(0,6) RC(0,7)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6) RC(1,7)
            RC(2,0)         RC(2,2) RC(2,3) RC(2,4) RC(2,5)
        >;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "row2col";
        wakeup-source;
        
        col-gpios
            = <&gpio0 26 GPIO_ACTIVE_LOW | GPIO_PULL_UP>
            , <&gpio0 15 GPIO_ACTIVE_LOW | GPIO_PULL_UP>
            , <&gpio0 14 GPIO_ACTIVE_LOW | GPIO_PULL_UP>
            , <&gpio0 13 GPIO_ACTIVE_LOW | GPIO_PULL_UP>
            , <&gpio0 12 GPIO_ACTIVE_LOW | GPIO_PULL_UP>
            , <&gpio0 11 GPIO_ACTIVE_LOW | GPIO_PULL_UP>
            , <&gpio0 10 GPIO_ACTIVE_LOW | GPIO_PULL_UP>
            , <&gpio0  9 GPIO_ACTIVE_LOW | GPIO_PULL_UP> 
            ;

        row-gpios
            = <&gpio0 29 (GPIO_ACTIVE_LOW)>
            , <&gpio0 28 (GPIO_ACTIVE_LOW)>
            , <&gpio0 27 (GPIO_ACTIVE_LOW)>
            ;
    };

    physical_layout0: physical_layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  100    0       0     0     0>
            , <&key_physical_attrs 100 100  700    0       0     0     0>
            , <&key_physical_attrs 100 100  800    0       0     0     0>

            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  500  100       0     0     0>
            , <&key_physical_attrs 100 100  600  100       0     0     0>
            , <&key_physical_attrs 100 100  700  100       0     0     0>
            , <&key_physical_attrs 100 100  800  100       0     0     0>

            , <&key_physical_attrs 125 100    0  300       0     0     0>
            , <&key_physical_attrs 275 100  175  300       0     0     0>
            , <&key_physical_attrs 150 100  300  200       0     0     0>
            , <&key_physical_attrs 150 100  450  200       0     0     0>
            , <&key_physical_attrs 275 100  450  300       0     0     0>
            ;
        };

    position_map {
        compatible = "zmk,physical-layout-position-map";
        complete; // Optional, see 'Example non-complete position map'
        layout1: layout1 {
            physical-layout = <&physical_layout0>;
            positions = <  0  1                 2  3 >,
                        <  4  5  6  7     8  9 10 11 >,
                        < 12      13 14 15 16        >
                        ; // List of positions to map
        };
    };
};